body
    {
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
.absolute{
    top: 300px;
    position: absolute;
    background-size:cover;
    padding: 50px 115px;
    margin: 0;
}

.parallax {
    /* The image used */
    background-image: url(IMAGE/OLC.jpg);
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
 .btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: black;
  }